.countdown-container.container
  .clock.row
    / days
    .clock-item.clock-days.countdown-time-value.col-sm-6.col-md-3
      .wrap
        .inner
          #canvas_days.clock-canvas
          .text
            %p.val 0
            %p.type-days.type-time DAYS
    / hours
    .clock-item.clock-hours.countdown-time-value.col-sm-6.col-md-3
      .wrap
        .inner
          #canvas_hours.clock-canvas
          .text
            %p.val 0
            %p.type-hours.type-time HOURS
    / minutes
    .clock-item.clock-minutes.countdown-time-value.col-sm-6.col-md-3
      .wrap
        .inner
          #canvas_minutes.clock-canvas
          .text
            %p.val 0
            %p.type-minutes.type-time MINUTES
    / seconds
    .clock-item.clock-seconds.countdown-time-value.col-sm-6.col-md-3
      .wrap
        .inner
          #canvas_seconds.clock-canvas
          .text
            %p.val 0
            %p.type-seconds.type-time SECONDS