.background
.container.clock
  .col-lg-12
    .box
      =render 'pages/countdown'

      %h2= link_to 'Bike Party Webpage!', 'http://baltimorebikeparty.com/'
      %br
      %h2= link_to 'Bike Party Facebook!', 'https://www.facebook.com/BaltimoreBikeParty'