// Place all the styles related to the lock_up controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map { height: 50em; }

#loading-js {
  position: relative;
  top: 50%;
}

.vote-container {
  display: inline;
}
.vote {
  height: 2.1em;
  width: 2.1em;
}

.vote-img {
  height: 100%;
  width: 200%;
  margin-left: -0.4em;
}

.total-votes {
  padding: 0 1em 0 1em;
  font-weight: bold;
}

.green {
  color: green;
}

.red {
  color: red;
}