<div id="map"></div>

<script>
   function error(err) {
    console.warn('ERROR(' + err.code + '): ' + err.message);
  };

  navigator.geolocation.getCurrentPosition(success, error);

  function success(pos) {
    var crd = pos.coords;

    var map = L.map('map').setView([crd.latitude, crd.longitude], 13);
    L.tileLayer("http://api.tiles.mapbox.com/v4/examples.map-zr0njcqy/{z}/{x}/{y}.png?access_token=<%=ENV['MAP_BOX_API']%>", {
      attribution: 'Map data &copy; OpenStreetMap contributors, CC-BY-SA, Imagery © Mapbox',
      maxZoom: 18
    }).addTo(map);
  };
</script>
